body {
  margin: 0;
  background: linear-gradient(to left, #9796f0, #fbc7d4);
  font-family: Karla, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 7px rgb(0 0 0 / 0.3);
  width: 550px;
  height: 550px;
}

/* Header */
nav {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  padding: 20px 29px;
}

.header-logo {
  width: 31.31px;
  height: 26.22px;
  margin-right: 7px;
}

.header-title,
.header-text {
  margin: 0;
  color: #ffffff;
}

.header-title {
  font-size: 20.75px;
  letter-spacing: -0.1em;
  margin-right: auto;
}

.header-text {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

/* MainContent - Forms */
main {
  padding: 28px 37px;
}

.form {
  display: grid;
  grid-template: 55px 40px / 1fr 1fr;
  gap: 15px 33px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.37px;
  margin-bottom: 3px;
  color: #374151;
}

.form-inputs {
  padding: 7.37px 10.64px 7.37px 10.64px;
  border-radius: 4.91px;
  border: 0.82px solid #d1d5db;
  box-shadow: 0px 0.82px 1.64px 0px #0000000d;
}

.form-btn {
  border-radius: 5px;
  border: none;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #ffffff;
  grid-column: 1 / -1;
}

.form-btn:hover {
  filter: brightness(90%);
}

.form-btn:active {
  transform: translateY(1px);
}

/* MainContent - Meme */
.meme-container {
  width: 477px;
  height: 268px;
  margin-top: 32px;
  position: relative;
}

.meme-image {
  width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: 16px 0;
  font-family: Anton, sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  line-height: 39.03px;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
